/* NAVBAR ---------------------------------------------------------------------------------------------------------- */

.nav_bar{
    margin: 0 auto;
}

header{
    background: #2A2436;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    height: 60px;
    padding-left: 10px;
}

nav{
    display: flex;
    justify-content: flex-end;
    float: right;
}

.nav_bar #active{
    color:#FFB736;
}

#active:hover{
    color:#292533;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-content: space-between;
}

nav li{
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
nav li:hover{
    background-color: #FFB736;
    transition: all .5s;
}
nav a:hover{
    color: black;
    transition: all .5s;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    color: white;
    font-family: "muli";
}

.contact{
    background-color: #FFB736;
}

.bgimg {
    width: 100%;
}

/* END OF NAVBAR ---------------------------------------------------------------------------------------------------- */

/* MAIN ------------------------------------------------------------------------------------------------------------- */
body {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #47455b;
    font-family: 'Muli';
}

.content-text {
    color: white;
}

.parallax {
    /* The image used */
    background-image: url("./images/Wallpaper.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    padding: 10%;
    /* opacity: 1; */
    box-shadow: 0 3000px rgba(5, 2, 19, 0.4) inset;
}

.tint {
    position: relative;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    background: black;
    background-blend-mode: overlay;
    display: block;
    position: auto;
    opacity: 0.5;;
}

.parallax hr {
    margin-top: 0;
    margin-bottom: 0%;
    border: 5px solid #3992d0;
    background-color: #55daff;
    float: left;
}

.parallax p {
    font-size: 17px;
}

#header1_text {
    color: white;
    /* margin-right: 700px; */
}

#header1_heading {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 1%;
}

.team-member {
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #47455b;
    /* height: 1500px; */
    background-size: auto;
    padding-bottom: 40px;
}

.team-member hr {
    border: none;
    margin-top: 25px;
    margin-bottom: 50px;
    border: 3px solid white;
}

#team-member {
    text-align: center;
    font-weight: 650;
}


/*CARD SECTION -------------------------------------------------------------------------------------------------------- */

.card {
    background-color: #2a2634;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#nama{
    margin-top: 0%;
    color: #feb836;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0%;
}

#jabatan{
    margin-top: 0%;
    color: white;
    text-align: center;
    margin-bottom: 0%;
}

#garis-card{
    margin-top: 5%;
    border: 2px solid #feb836;
    background-color: #feb836;
    width: 200px;
    margin-bottom: 7%;
}

/* SCROLL UP BUTTON */

/* #upBtn {
    display: inline-block;
    color:rgb(77, 55, 18);
    background:#FFB736;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#upBtn::after {
    /* content: "\f077";
    font-family: 'Muli';
    font-weight: normal;
    font-style: normal; */
    /* font-size: 10em;
    line-height: 50px;
    color: #fff;
}
#upBtn:hover {
    cursor: pointer;
    background-color: #333;
}
#upBtn:active {
    background-color: #555;
}
#upBtn.show {
    opacity: 1;
    visibility: visible;
} */  

/* .upBtn {
    background-color: #47455b;
    background-size: auto;
} */

.upBtn {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 30px;
}

#upBtn {
    color:rgb(77, 55, 18);
    background:#FFB736;
    border:none;
    outline:none;
    float: right;
}

/* END OF CARD SECTION ----------------------------------------------------------------------------------------------- */

/* location elements ------------------------------------------------------------------------------------------------- */
.headerlocation{
    display:flex;
    justify-content: center;
}

.location {
    position:relative;
}

.locationElement {
    height:25em;
}

.google-maps {
    position: relative;
    /* This is the aspect ratio */
    padding-bottom: 400px;
    height: 0;
    overflow:hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#locationTitle {
    color: black;
    text-shadow: 0px 4px 2.5px rgba(41, 37, 51,.2);
    font-size: 2.3em;
    font-weight: 900;
    font-family: "Rubik";
    text-align:center;
    margin-top:1.5em;
    padding-bottom:15px;
    border-bottom: 8px solid black;
    width: 7.2em;
}

#locationLabel {
    background: #FFB736;
}

#locationLabel img {
    width:4em;
}

#locationDesc {
    margin-top:3.6em;
}

#locationLabel h4 {
    margin-top:.5em;
    font-weight: bold;
    color:black;
    text-align: center;
}

/* end of location ---------------------------------------------------------------------------------------------------*/

/* FORM section ------------------------------------------------------------------------------------------------------*/
.form {
    background-color: #292533;
    background-size: auto;
    padding: 50px;
}

.form h1 {
    color: white;
    padding-bottom: 0px;
}

.form hr {
    border: 3px solid white;

}

/* end of form ---------------------------------------------------------------------------------------------------*/

/* GALLERY section ------------------------------------------------------------------------------------------------------*/

.gallery {
    padding: 70px;
}

.gallery h1 {
    font-family: "Rubik";
    font-weight: bolder;
    text-align: center;
}

.gallery hr {
    border: 3px solid black;
}