/* navbar ----------------------------------------------------------------------------------------------------------------------------*/
li:hover {
    background:#FFB736;
    transition: all .5s;
}

.navbar {
    background: #292533;
    font-size: 20px;
}

.nav-link {
    color:white;
}

.nav-item #active{
    color:#FFB736;
}

#active:hover{
    color:#292533;
}

#burger {
    outline:none;
}

#logo {
    width: 60px;
}

#navElements a:hover{
    color:#353536;
}

@media (max-width:992px) {
    li {
        width:100vw;
        padding-left:15px;
    }
}


@media (min-width:992px){
    .navbar li{
        height:4.1em;
        display:flex;
        align-items: center;
        padding: 0 20px;
    }
    #hireUs {
        background:#FFB736;
    }
}
/* end of navbar ---------------------------------------------------------------------------------------------------------------------*/

/* MAIN ------------------------------------------------------------------------------------------------------------- */
body {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #47455b;
    font-family: 'Muli';
    background-size: auto;
    overflow-x: hidden;
}

.content-text {
    color: white;
}

.parallax {
    /* The image used */
    background-image: url("./images/Wallpaper.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    padding: 10%;
    /* opacity: 1; */
    box-shadow: 0 3000px rgba(5, 2, 19, 0.4) inset;
}

.tint {
    position: relative;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    background: black;
    background-blend-mode: overlay;
    display: block;
    position: auto;
    opacity: 0.5;;
}

.parallax hr {
    margin-top: 0;
    margin-bottom: 0%;
    border: 5px solid #3992d0;
    background-color: #55daff;
    float: left;
}

.parallax p {
    font-size: 17px;
}

#header1_text {
    color: white;
    /* margin-right: 700px; */
}

#header1_heading {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 1%;
}

.team-member {
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #47455b;
    /* height: 1500px; */
    background-size: auto;
    padding-bottom: 40px;
}

.team-member hr {
    border: none;
    margin-top: 25px;
    margin-bottom: 50px;
    border: 3px solid white;
}

#team-member {
    text-align: center;
    font-weight: 650;
}


/*CARD SECTION -------------------------------------------------------------------------------------------------------- */

.card {
    background-color: #2a2634;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#nama{
    margin-top: 0%;
    color: #feb836;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0%;
}

#jabatan{
    margin-top: 0%;
    color: white;
    text-align: center;
    margin-bottom: 0%;
}

#garis-card{
    margin-top: 5%;
    border: 2px solid #feb836;
    background-color: #feb836;
    width: 200px;
    margin-bottom: 7%;
}

.upBtn {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 30px;
}

#upBtn {
    color:rgb(77, 55, 18);
    background:#FFB736;
    border:none;
    outline:none;
    float: right;
}

/* END OF CARD SECTION ----------------------------------------------------------------------------------------------- */

/* location elements ------------------------------------------------------------------------------------------------- */
.headerlocation{
    display:flex;
    justify-content: center;
}

.location {
    position:relative;
}

.locationElement {
    height:25em;
}

.google-maps {
    position: relative;
    /* This is the aspect ratio */
    padding-bottom: 400px;
    height: 0;
    overflow:hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#locationTitle {
    color: black;
    text-shadow: 0px 4px 2.5px rgba(41, 37, 51,.2);
    font-size: 2.3em;
    font-weight: 900;
    font-family: "Rubik";
    text-align:center;
    margin-top:1.5em;
    padding-bottom:15px;
    border-bottom: 8px solid black;
    width: 7.2em;
}

#locationLabel {
    background: #FFB736;
}

#locationLabel img {
    width:4em;
}

#locationDesc {
    margin-top:3.6em;
}

#locationLabel h4 {
    margin-top:.5em;
    font-weight: bold;
    color:black;
    text-align: center;
}

/* end of location ---------------------------------------------------------------------------------------------------*/

/* FORM section ------------------------------------------------------------------------------------------------------*/
.reach-us {
height: fit-content;
background: #292533;
padding: 2rem;
padding-top: 5rem;
}

.reach-us .reach-us-in {
width: 50rem;
}

.reach-us .reach-us-in .reach-us-title {
margin-bottom: 1.5rem;
}

.reach-us .reach-us-in .reach-us-title h1 {
font: bold 2.5rem "Rubik", sans-serif;
color: #fff;
border-bottom: 0.4rem solid #fff;
}

.reach-us .reach-us-in .reach-us-title img {
margin: 0 1rem;
}

.reach-us .reach-us-in .reach-us-email {
width: 100%;
justify-content: space-between;
margin-bottom: 1rem;
}

.reach-us .reach-us-in .reach-us-email input {
height: 3rem;
background: none;
border: 1px solid #fff;
width: 48.5%;
padding: 0 1rem;
color: #fff;
font: bold 1.3rem "Muli";
}

.reach-us .reach-us-in .reach-us-email input::placeholder, .reach-us .reach-us-in .reach-us-email input:focus {
color: #fff;
font: bold 1.3rem "Muli";
}

.reach-us .reach-us-in textarea {
width: 100%;
background: none;
padding: 1rem;
border: 1px solid #fff;
margin-bottom: 1rem;
color: #fff;
font: bold 1.3rem "Muli";
}

.reach-us .reach-us-in textarea::placeholder, .reach-us .reach-us-in textarea:focus {
color: #fff;
font: bold 1.3rem "Muli";
}

.reach-us .reach-us-in button {
border-radius: 0;
background: #463056;
color: #fff;
font: bold 1.3rem "Muli";
padding: 0.5rem 4rem;
align-self: flex-end;
}
/* end of form ---------------------------------------------------------------------------------------------------*/

footer {
height: fit-content;
padding: 0.8rem;
background: #000;
font: bold 1rem "Muli";
color: #fff;
text-align: center;
}

/* GALLERY section ------------------------------------------------------------------------------------------------------*/

.hr1{
    margin-top: 0;
    margin-bottom: 0%;
    border: 3px solid #2A2436;
}

#header2_heading {
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 0%;
    color: #2A2436;
}

.header2_text{
text-align: center;
padding-top: 3%;
}

.empty{
height: 50px;
}

.container1{
height: 500px;
width: 300px;
overflow-x: hidden;
overflow-y: scroll;
}

/* Scrollbar Style */
#scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(126, 125, 125);
}

#scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(126, 125, 125, 0);
}

#scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(36, 36, 36);
}

/* end of scrollbar */

.gambar{
height: 120px;
padding: 5px;
padding-right: 0;
}

.gambar:hover {
    cursor: pointer;
}

#tulisan{
    text-align: center;
    padding: 50px;
    padding-top: 20px;
}

.imgtext{
background-color: #2A2436;
color: white;
height: auto;
width: 80%;
}

#imgtext{
text-align: center;
padding-top: 30px;
}

.empty3{
height: 25px;
}

.empty2{
height: 50px;
}


/* -------------------- */

@media (max-width: 576px) {
.reach-us .reach-us-in {
    width: 100%;
    }
    .reach-us .reach-us-in .reach-us-title h1 {
    font-size: 1.5em;
    border-bottom: 0.2rem solid #fff;
    }
    .reach-us .reach-us-in .reach-us-title img {
    width: 3rem !important;
    margin: 0 0.5rem !important;
    }
    .reach-us .reach-us-in .reach-us-email {
    display: flex;
    flex-direction: column;
    }
    .reach-us .reach-us-in .reach-us-email input {
    width: 100%;
    margin: 0.2rem 0;
    }
    .reach-us .reach-us-in textarea {
    height: 12srem;
    }
}